@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Rubik:wght@300;400;500;700;900&family=Space+Grotesk:wght@300;400;500;600;700&family=Ubuntu:wght@400;700&display=swap');
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
.final {
  overflow: scroll;
}

/********* NavBar ***********/
.navigation-bar {
  background: #007CC2;
}
.login-btn {
  color: #007CC2;
  background-color: #fff;
  box-shadow: -2px 4px 4px rgba(0, 0, 0, 0.14);
  border-radius: 2px;
  font-size: 1rem;
  font-weight: 500;
}
.primary-nav span {
  font-size: 1rem;
  cursor: pointer;
}
.primary-nav span:hover {
  transform: translateY(-5px);
}
.primary-nav .active {
  border-bottom: 3px solid white;
}
.mobile-popup {
  position: absolute;
  background-color: #252540;
  z-index: 10;
  height: 100vh;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 99%;
}
.mobile-popup .close-btn {
  position: absolute;
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  right: 1.5rem;
  top: 1.5rem;
}

/*** Banner **/
.banner {
  background-color: #007CC2;
}
.welcome-text {
  color: #fff;
}
.welcome-text h1 {
  line-height: 78px;
  font-size: 52px;
}
.object {
  background-color: #fff;
  padding: 10px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}
.flask {
  position: absolute;
  left: 350px;
  bottom: 80px;
}
.molecules {
  position: absolute;
  right: 350px;
  bottom: 80px;
}
.atom {
  position: absolute;
  left: 250px;
  top: 100px;
}
.bulb {
  position: absolute;
  right: 250px;
  top: 100px;
}
.log-small {
  right: 180px;
  top: 45px;
}
.log-medium {
  left: 150px;
  top: 150px;
}
.log-big {
  right: 90px;
  bottom: 30px;
}
.dot-design-1 {
  right: 10px;
  top: 10px;
}
.dot-design-2 {
  left: 10px;
  bottom: 10px;
}
.dot {
  background-color: #fff;
  border-radius: 50%;
  width: 8px;
  height: 8px;
}

/***** Science  *****/
.science-tag {
  background-color: #007CC2;
  opacity: 35%;
  border-radius: 4px;
}
.science-card {
  box-shadow: 7px 9px 30px rgba(101, 101, 101, 0.25);
  width: 27%;
} 

/**** Footer  ****/
.details {
  background-color: #002C45;
  color: white;
}
.copyright {
  background-color: #0B4668;
}
.scroll-up {
  background-color: #007CC2;
  border-radius: 5px;
  position: fixed;
  bottom: 40px;
  right: 40px;
}
